<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student1" class="net.togogo.bean.Student">
        <property name="id" value="2"/>
        <property name="name" value="说两句"/>
    </bean>
    <bean id="student2" class="net.togogo.bean.Student">
        <property name="id" value="34"/>
        <property name="name" value="说34句"/>
    </bean>

    <bean id="student3" class="net.togogo.bean.Student" init-method="creatBean" destroy-method="destroyBean">
        <constructor-arg name="id" value="4"/>
        <constructor-arg name="name" value="前妹妹"/>
        <constructor-arg name="cat" ref="cat"/>
    </bean>

    <bean id="cat" class="net.togogo.bean.Cat">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="name" value="橘猫"/>
    </bean>

</beans>
